
@{
    Layout = null;
}



<nav class="navbar navbar-dark bg-primary">
    <h2> Exemplos com Bootstrap</h2>
</nav>

<p>@Html.ActionLink("Voltar para o menu", "Index")</P>
@Styles.Render("~/Content/css")