@model IEnumerable<rote66.Models.Noticias>
@{
    ViewBag.Title = "MostraCategoria";
}

<h2>Categoria: @ViewBag.Categoria</h2>

<div>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Titulo, "MostraNoticia", "Home", new
               {
                   @noticiaId = item.NoticiasId,
                   @categoria = item.Categoria.ToLower(),
                   @titulo = item.Titulo.ToLower()

               }, null);
                
                </li>
            }
        </ul>

    @section rodapeEspecifico{
        <b> Dia de aula no BG</b>
        }
</div>